<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Active Charts</title>

    <link rel="shortcut icon" href="~/Content/images/favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/Content/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" width="150" height="60"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @if (ViewBag.CurrentUser != null)
                    {
                        <li><a class="btn" href="@Url.Action("Index", "Profile")">Profile</a></li>
                        <li><a class="btn" href="@Url.Action("Logout", "Account")">Logout</a></li>
                    }
                    else
                    {
                        <li><a class="btn" href="@Url.Action("Login","Account")">SIGN IN / SIGN UP</a></li>
                    }
                    </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

	<div style="min-height: 808px">
		@RenderBody()
	</div>
    


    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 widget text-center">
	                    <div class="widget-body">
		                    <label>Ruslan Kamenskiy, Dmitry Nazarov, Andrey Demashov</label>
	                    </div>
						<div class="widget-body">
							<label>EPAM hackday 2016</label>
						</div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/headroom.min.js"></script>
    <script src="~/Scripts/jQuery.headroom.min.js"></script>
    <script src="~/Scripts/template.js"></script>
</body>
</html>